function Bike.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 1
pop this 1
push pointer 0
return
function Bike.moveUp 0
push argument 0
pop pointer 0
push this 1
push constant 2
sub
pop this 1
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 6
sub
push this 0
push constant 3
sub
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 3
add
push this 0
push constant 3
add
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 3
add
push this 0
push this 1
push constant 6
sub
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Bike.moveRight 0
push argument 0
pop pointer 0
push this 0
push constant 2
add
pop this 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 6
add
push this 1
push this 0
push constant 3
sub
push this 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 3
sub
push this 0
push constant 3
sub
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 3
add
push this 0
push constant 6
add
push this 1
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Bike.moveDown 0
push argument 0
pop pointer 0
push this 1
push constant 2
add
pop this 1
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push this 1
push constant 6
add
push this 0
push constant 3
sub
push this 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
sub
push this 1
push constant 3
sub
push this 0
push constant 3
add
push this 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 3
sub
push this 0
push this 1
push constant 6
add
call Screen.drawLine 4
pop temp 0
push constant 0
return
function Bike.moveLeft 0
push argument 0
pop pointer 0
push this 0
push constant 2
sub
pop this 0
push constant 0
call Screen.setColor 1
pop temp 0
push this 0
push constant 6
sub
push this 1
push this 0
push constant 3
add
push this 1
push constant 3
sub
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 3
sub
push this 0
push constant 3
add
push this 1
push constant 3
add
call Screen.drawLine 4
pop temp 0
push this 0
push constant 3
add
push this 1
push constant 3
add
push this 0
push constant 6
sub
push this 1
call Screen.drawLine 4
pop temp 0
push constant 0
return
