function LightBikeGame.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 205
push constant 224
call Bike.new 2
pop this 0
push constant 1
pop this 1
push pointer 0
return
function LightBikeGame.run 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
call Bike.draw 1
pop temp 0
goto IF_END0
label IF_FALSE0
label IF_END0
push constant 0
return
